{% extends 'base.html.twig' %}

{% block body %}

    <h2>Edit category</h2>

    {{ form_start(category_form) }}

    {{ form_row(category_form.parent, { 'attr':{'readonly':true} }) }}
    
    {{ form_widget(category_form) }}

    {{ form_end(category_form) }}

    <hr>
    
{% endblock %}
